#login-div {
    width:50%;
    border-radius: 30px;
    background-color: lightslategray;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    border-width: 10px;
    border-color: rgb(12, 12, 12);
    /*position: absolute;*/
    margin-top: 15%;
    /* top:10% */
    outline: 2px black solid;
}


#login-button {
    display:flex;
    justify-content: flex-end;
    /* outline: 2px deeppink dashed; */
  }

.bottom {
    position: fixed;
    bottom: 0;
}

#login-page {
    background-image: url('pexels-karolina-grabowska-4475523.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: antiquewhite; */
}

body {
    background-color: antiquewhite;
}
