/* Full site*/
.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  display: flex;
}

body {
  background-color: antiquewhite;
  font-family: "fantasy", "Franklin Gothic Medium", "Arial Narrow", "Arial",
    "sans-serif";
  font-size: x-large;
}

.container {
  display: flex;
  /* height: 100%; */
}

.center {
  text-align: center;
  width: 100%
}

.break {
  flex-basis: 100%;
  height: 0;
}

.spaced {
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}

.figure-caption {
  color: midnightblue;
  font-size: xx-large;
}

.text-container {
  background-color: lightslategray;
  border-radius: 30px;
  padding: 5%;
}

.ticket-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 30px;
}

.Latin {
  color: lightgray;
  text-shadow: 1px 1px mediumseagreen, 2px 2px mediumslateblue;
}

.bottom {
  position: absolute;
  bottom: 10%;
}

/* Login Page */
#login-container {
  width: 25%;
  padding: 10px;
  margin-left: 5%;
  margin-right: 90%;
  opacity: 0.6;
  /* border-width: 10px; */
  /* border-color: rgb(12, 12, 12); */
  /*position: absolute;*/
  margin-top: 15%;
  /* top:10% */
  outline: 2px black solid;
}

#login-button {
  display: flex;
  justify-content: flex-end;
  /* outline: 2px deeppink dashed; */
}

#login-page {
  background-image: url("/images/alchemy.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom left;
  background-color: black;
  flex-direction: column;
}

/* Employee page */

.inner-page {
  background-image: url("/images/background-border-brown-burned.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 200px;
}

h2 {
  padding-left: 20px;
}


/* MGR styles */
.mgr-page {
  background-image: url("/images/background-border-brown-burned.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  justify-content: center;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}

/* Scrolling tickets */
.testimonial-group > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.testimonial-group > .row > .col-2 {
  flex: 0 0 auto;
}

/* Decorations */
.col-2 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-2:nth-child(3n+1) { background: #c69; }
.col-2:nth-child(3n+2) { background: #9c6; }
.col-2:nth-child(3n+3) { background: #69c; }

/* Drag and drop styling */
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
